<% provide(:title, '買い物カゴ一覧') %>
<h1>買い物カゴ一覧</h1>

<div class="buy-button">

<%= link_to "購入", "orders", class: 'btn btn-default' %>
</div>
<main>
<div class="content-area">
    <% @carts.each do |cart| %>
        <div class="content">
        <table>
        <tr>
        <%= image_tag("00300-ACT_133_F.png", alt: "T-shirt") %>
        <th>
            <%= cart.ware.product.product_name %>
            
        <td>
            <%= form_tag("/users/#{@user.id}/carts", method: :delete) do %>
                <%= submit_tag '削除', :name => nil %>
                <input type="hidden" name = "cart_id" value = <%= cart.id %> ></input>
            <% end %>
        <tr>
            <td>ジャンル　<%= cart.ware.product.category.category_name %></td>
        <tr>
            <td>サイズ　<%= cart.ware.size.size_name %></td>
        <tr>
            <td>¥<%= cart.ware.product.price %></td>
        <tr>
            <td><%= cart.cart_count %>点</td>
        </table>
        </div>
    <% end %>
</div>
</main>



