<% provide(:title, '買い物カゴ一覧') %>
<h1>購入履歴一覧</h1>

<div class="buy-button">

</div>
<main>
<div class="content-area">
    <% @orders.each do |order| %>
        <div class="content">
        <table>
        <tr>
        <%= image_tag("00300-ACT_133_F.png", alt: "T-shirt") %>
        <th>
            <%= order.ware.product.product_name %>
        <tr>
            <td>ジャンル　<%= order.ware.product.category.category_name %></td>
        <tr>
            <td>サイズ　<%= order.ware.size.size_name %></td>
        <tr>
            <td>¥<%= order.ware.product.price %></td>
        <tr>
            <td><%= order.order_count %></td>
        </table>
        </div>
    <% end %>
</div>
</main>



