
<% if current_user.admin? %>  
  <% provide(:title, '管理者ページ') %>
  <h1>管理者ページ</h1>
<% else %>
  <% provide(:title, 'マイページ') %>
  <h1>マイページ</h1>
<% end %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_title">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <center>
      <section class="user_info">
        <table>
          <tr>
              <th>ユーザー名　
              <td>
                  <%= @user.name %>
              </td>
              </th>
          </tr>
          <tr>
              <th>メールアドレス　
              <td>
                  <%= @user.email %>
              </td>
              </th>
          </tr>
          <tr>
            <th>生年月日
              <td>
                  <%= @user.birthday %>
              </td>
            </th>
          </tr>
          <tr>
            <th>郵便番号
              <td>
                  <%= @user.postcode %>
              </td>
            </th>
          </tr>
          <tr>
            <th>住所
              <td>
                  <%= @user.address %>
              </td>
            </th>
          </tr>
          <tr>
            <th>クレジットカード番号
              <td>
                  <%= @user.creditcard %>
              </td>
            </th>
          </tr>
        </table>
      </section>
      <% if current_user.admin? %>      
      <%= link_to "変更", "/users/#{@user.id}/edit", class: 'btn btn-default' %>
      <br>
      <br>
      <%= link_to "出品情報", '/products/analytics', class: 'btn btn-default' %>
    <% else %>
      <%= link_to "変更", "/users/#{@user.id}/edit", class: 'btn btn-default' %>
      <%= link_to "お気に入り一覧", "/users/#{@user.id}/favorites", class: 'btn btn-default' %>
      <%= link_to "買い物カゴ一覧", "/users/#{@user.id}/carts", class: 'btn btn-default' %>
      <%= link_to "購入履歴一覧", "/users/#{@user.id}/orders_history", class: 'btn btn-default' %>
    <% end %>
    </center>
  </aside>
</div>


