<% provide(:title, '商品一覧') %>
<h1>新着商品</h1>

<%= will_paginate %>


<main>
<div class="content-area">

  <% @products.each do |product| %>
    <div class="content">

      <table>
        <tr>
        <%= link_to image_tag("00300-ACT_133_F.png", alt: "T-shirt"),
            product %>
            <th>
            <%= link_to product.product_name, product %>
        <tr>
            <td>ジャンル <%= product.category.category_name %></td>
        <tr>
            <td>￥<%= product.price %></td>
        </tr>
      </table>
    </div>
  <% end %>
 </div>

</main>
<%= will_paginate %>