<% provide(:title, '詳細') %>
<div class="row">
  <section class="detail_info">
      <div class="product-detail-picture">
        <%= image_tag("00300-ACT_133_F.png", alt: "T-shirt") %>
      </div>
      <span class="product-detail-content">

      <div class=detail-head>
        <h1>
          <%= @product.product_name %>
        </h1>
        <%= link_to "お気に入りに登録", "#", class: 'btn btn-default' %>
      </div>

        <table>
          <tr>
          <th><%= @product.category.category_name %></th>
          <tr>
              <th><%= @product.gender.gender_name %>
              <td>
              </td>
              </th>
          </tr>
          <tr>
              <td>価格</td>　
              <td> ¥<%= @product.price %>

              </td>
              </th>
          </tr>
        </table>

      <div class="product-size">
        <h3>Size</h3>
        <% @size_ids.each do |size_id| %>
          <table>
            <th>
              <%= Size.find(size_id).size_name %>  
            <td>
                <%= link_to "買い物カゴに入れる", "#", class: 'btn btn-default' %>
                <% button_to "カゴに入れる", action: "new" %>
              <%= form_tag("/users/#{@user.id}/carts") do %>
                　<input type="submit" value="登録"></input>
                <% end %>
            </td>
            </th>
          </table>
        <% end %>
      </div>
    </span>
  </section>
</div>
