<% provide(:title, '詳細') %>
<div class="row">
  <section class="detail_info">
      <div class="product-detail-picture">
        <%= image_tag("#{@product.category_id}.png", alt: "T-shirt", size: "450x500") %><br>
      </div>
      <div class="product-detail-content">

        <div class="detail-head">
          <h1>
            <%= @product.product_name %>
          </h1>
          <span class="formtag">
            <% if current_user.admin? %>
              <%= link_to "商品を更新", "/products/#{@product.id}/edit", class: 'btn btn-default' %>
            <% else %>
              <%= form_tag("/users/#{@user.id}/favorites", method: :post) do |f| %>
                <input type="submit" value="お気に入り登録" class: "favorite"></input>
                <input type="hidden" name = "product_id" value = <%= @product.id %> ></input>
                <input type="hidden" name = "reaction_id" value = 1 ></input>
              <% end %>
            <% end %>
          </span>
          <table>
            <tr>
            <th><%= @product.category.category_name %></th>
            <tr>
                <th><%= @product.gender.gender_name %>
                <td>
                </td>
                </th>
            </tr>
            <tr>
                <td>価格</td>　
                <td> ¥<%= @product.price %>

                </td>
                </th>
            </tr>
          </table>
        </div>

        <div class="product-size">
          <h3>Size</h3>

          <% if current_user.admin? %>
            <table><br>
              <tr>
                <th>サイズ</th> <th>在庫数</th><th>ボタン</th>
              </tr>


              <tr>
                <td>XL</td>
                <% if @ware1.present? %>
                  <td>
                    <%= @ware1.amount %>
                  </td>
                  <td>
                    <%= form_tag("/products/#{@product.id}/ware/edit", method: :get) do |f| %>
                      <input type="submit" value="サイズと在庫を更新", class: 'btn btn-default'></input>
                      <input type="hidden" name = "product_id" value = <%= @product.id %> ></input>
                      <input type="hidden" name = "size_id" value = 1 ></input>
                    <% end %>
                  </td>
                <% else %>
                  <td>
                    0
                  </td>
                  <td>
                    <%= form_tag("/products/#{@product.id}/ware/new", method: :get) do |f| %>
                      <input type="submit" value="サイズと在庫を登録", class: 'btn btn-default'></input>
                      <input type="hidden" name = "product_id" value = <%= @product.id %> ></input>
                      <input type="hidden" name = "size_id" value = 1 ></input>
                    <% end %>
                  </td>
                <% end %>
              </tr>

              <tr>
                <td>2XL</td>
                <% if @ware2.present? %>
                  <td>
                    <%= @ware2.amount %>
                  </td>
                  <td>
                    <%= form_tag("/products/#{@product.id}/ware/edit", method: :get) do |f| %>
                      <input type="submit" value="サイズと在庫を更新", class: 'btn btn-default'></input>
                      <input type="hidden" name = "product_id" value = <%= @product.id %> ></input>
                      <input type="hidden" name = "size_id" value = 2 ></input>
                    <% end %>
                  </td>
                <% else %>
                  <td>
                  0
                  </td>
                  <td>
                    <%= form_tag("/products/#{@product.id}/ware/new", method: :get) do |f| %>
                      <input type="submit" value="サイズと在庫を登録", class: 'btn btn-default'></input>
                      <input type="hidden" name = "product_id" value = <%= @product.id %> ></input>
                      <input type="hidden" name = "size_id" value = 2 ></input>
                    <% end %>
                  </td>
                <% end %>
              </tr>

              <tr>
                <td>3XL</td>
                <% if @ware3.present? %>
                  <td>
                    <%= @ware3.amount %>
                  </td>
                  <td>
                    <%= form_tag("/products/#{@product.id}/ware/edit", method: :get) do |f| %>
                      <input type="submit" value="サイズと在庫を更新", class: 'btn btn-default'></input>
                      <input type="hidden" name = "product_id" value = <%= @product.id %> ></input>
                      <input type="hidden" name = "size_id" value = 3 ></input>
                    <% end %>
                  </td>
                <% else %>
                  <td>
                  0
                  </td>
                  <td>
                  <%= form_tag("/products/#{@product.id}/ware/new", method: :get) do |f| %>
                    <input type="submit" value="サイズと在庫を登録", class: 'btn btn-default'></input>
                    <input type="hidden" name = "product_id" value = <%= @product.id %> ></input>
                    <input type="hidden" name = "size_id" value = 3 ></input>
                  <% end %>
                  </td>
                <% end %>
              </tr>


              <tr>
                <td>4XL</td>
                <% if @ware4.present? %>
                  <td>
                    <%= @ware4.amount %>
                  </td>
                  <td>
                    <%= form_tag("/products/#{@product.id}/ware/edit", method: :get) do |f| %>
                      <input type="submit" value="サイズと在庫を更新", class: 'btn btn-default'></input>
                      <input type="hidden" name = "product_id" value = <%= @product.id %> ></input>
                      <input type="hidden" name = "size_id" value = 4 ></input>
                    <% end %>
                  </td>
                <% else %>
                  <td>
                  0
                  </td>
                  <td>
                  <%= form_tag("/products/#{@product.id}/ware/new", method: :get) do |f| %>
                    <input type="submit" value="サイズと在庫を登録", class: 'btn btn-default'></input>
                    <input type="hidden" name = "product_id" value = <%= @product.id %> ></input>
                    <input type="hidden" name = "size_id" value = 4 ></input>
                  <% end %>
                  </td>
                <% end %>
              </tr>
            </table>

          <% else %>
              <table>
                <tr>
                  <th>サイズ</th> <th>ボタン</th>
                </tr>
                <% if @size_ids.present? %>
                  <% @size_ids.each do |size_id| %>
                    <tr>
                      <td><%= Size.find(size_id).size_name %></td>
                      <% if Ware.find_by(product_id: @product.id, size_id: size_id).amount > 0 %>
                        <td>
                          <%= form_tag("/users/#{@user.id}/carts", method: :post) do |f| %>
                            <input type="submit" value="買い物カゴに入れる"></input>
                            <input type="hidden" name = "product_id" value = <%= @product.id %> ></input>
                            <input type="hidden" name = "size_id" value = <%= size_id %> ></input>
                          <% end %>
                        </td>
                      <% else %>
                        <td>
                          在庫切れ
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                <% else %>
                  <tr>
                    <td>在庫ぎれ</td>
                  </tr>
                <% end %>
              </table>
          <% end %>
        </div>
      </span>

  </section>
</div>
